.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: 50%;
}

#main {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
  backdrop-filter: blur(8px);
  padding: 40px;
  border: 1px solid #fff;
  max-width: 538px;
}

