.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: 50%;
}

#main {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
  backdrop-filter: blur(8px);
  padding: 40px;
  border: 1px solid #fff;
  max-width: 538px;
  margin: 24px;
}

button {
  padding: 8px 16px;
  border: 2px solid #ba0000;
  border-radius: 0;
  background-color: #0b6e25;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

input {
  display: block;
  margin: 16px 0;
  padding: 8px;
}

p {
  color: #ba0000;
  font-weight: bold;
}

button:hover {
  background-color: #034f19;
}

